.chart-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.chart {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    &-txt {
        position: relative;
    }
}